<!DOCTYPE html>
<html lang="vi" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Customer Tracking">
      <%= assigns[:page_title] || "Customer Tracking" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    <div class="min-h-screen">
      <%= @inner_content %>
    </div>
  </body>
</html>